<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SafePass - Şifre Yöneticisi{% endblock %}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% load static %}{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    
    {% block content %}{% endblock %}
    
    <!-- Scripts -->
    <script src="{% static 'js/app.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
